<!-- BEGIN VALIDATION STATES-->
<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs font-green-sharp"></i>
      <span class="caption-subject font-green-sharp bold uppercase">表单</span>
    </div>
  </div>
  <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <%= form_for([:admin, @document], :html => {:class => 'form-horizontal clearfix activity-form-validate', :role => 'form' , :enctype => 'multipart/form-data'}) do |f| %>
    <div class="form-body">

      <div class="form-group fileupload">
        <%= f.label(:file, "文件", :class => "col-md-3 control-label") %>
        <div class="col-md-4">
          <% 
            file_name = @document.file.to_s 
            file_name = file_name.include?('missing') ? '' : file_name.split('?')[0]
          %>
          <%= f.file_field(:file, :class => "dropify", :"data-default-file" => "#{file_name}" ) %>
        </div>
      </div>

    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <%= link_to '返回', admin_documents_path, :class => 'btn btn-default' %>
                <% if action_name == 'new' %>
                <button type="submit" class="btn green">保存</button>
                <% else %>
                <button type="submit" class="btn green">更新</button>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    <!-- END FORM-->
  </div>
</div>
<!-- END VALIDATION STATES-->